@font-face{
    font-family: livvic;
    src: url('../Livvic/Livvic-Black.ttf');
}
@font-face{
    font-family: Big_Shoulders_Stencil_text;
    src: url('../fonts/Big_Shoulders_Stencil_Text/BigShouldersStencilText-Regular.ttf');
}
@font-face{
    font-family: Carter_One;
    src:url('../fonts/Carter_One/CarterOne-Regular.ttf');
}
@font-face{
    font-family: Marcellus;
    src: url('../fonts/Marcellus/Marcellus-Regular.ttf');
    
}